
body{
    background-color:lightgreen;
    color: white;
    border: 20px solid rgb(26, 26, 39);
    background-color:rgb(177, 202, 212);
    font-size: 20px;
    /* margin: 20px; */
    padding: 32px;
    font-weight: bold;
    content: "";
    background: url('reception.jpg') no-repeat center center/cover ;
    z-index: -1;
    opacity: 3.90;
}
.section{
    color: 2px solid black;
}
h4{
    font-family: "Playball", cursive;
    margin: 20px 20px;
    color: white;
    text-shadow: rgb(26, 26, 39);
    text-align: center;
    font-size: 34px;
    justify-content: center;
    font-weight: bold;
    padding: 30px;
}

.smart-wrap{
    font-family: 'Elsie Swash Caps', cursive;
}

.fafa-calendar{
    font-family: 'IM Fell DW Pica SC', serif;
}